body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
    background: linear-gradient(180deg, rgba(122,91,219,1) 0%, rgba(223,80,80,1) 100%);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

h1{
    color: #FFF;
}

label{
    color: #FFF;
}

input::placeholder{
    color: rgb(216, 203, 203);
    font-size: 12px;
}

#mail, #pass{
    outline: none;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 18px;
    box-shadow: none;
    padding: 10px;
    margin: 14px 0px;
    transition: 400ms ease-in-out;
    background: none;

}

    #mail:focus,
    #pass:focus{
        border-radius: 2px;
    }

.signin-button{
    background: rgba(97, 31, 141, 0.74);
    border: none;
    padding: 14px;
    width: 100%;
    margin: 14px 0px;
    border-radius: 18px;
    color: #FFF;
    transition: 400ms ease;
}

    .signin-button:hover{
        background-color: rgba(69, 18, 104, 0.74);
        border-radius: 4px;
    }

a{
    text-decoration: none;
    color: #FFF;
    font-size: 10px;
}

span{
    color:  rgb(58, 7, 7);
    padding: 14px;
    margin: 14px 0px;
}