body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a5bdb), to(#df5050));
  background: linear-gradient(180deg, #7a5bdb 0%, #df5050 100%);
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: #FFF;
}

label {
  color: #FFF;
}

input::-webkit-input-placeholder {
  color: #d8cbcb;
  font-size: 12px;
}

input:-ms-input-placeholder {
  color: #d8cbcb;
  font-size: 12px;
}

input::-ms-input-placeholder {
  color: #d8cbcb;
  font-size: 12px;
}

input::placeholder {
  color: #d8cbcb;
  font-size: 12px;
}

#mail, #pass {
  outline: none;
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px;
  margin: 14px 0px;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  background: none;
}

#mail:focus,
#pass:focus {
  border-radius: 2px;
}

.signin-button {
  background: rgba(97, 31, 141, 0.74);
  border: none;
  padding: 14px;
  width: 100%;
  margin: 14px 0px;
  border-radius: 18px;
  color: #FFF;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.signin-button:hover {
  background-color: rgba(69, 18, 104, 0.74);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #FFF;
  font-size: 10px;
}

span {
  color: #3a0707;
  padding: 14px;
  margin: 14px 0px;
}
/*# sourceMappingURL=main.css.map */